
#home{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#home .header,.footer{
    background-color: powderblue;
    height: 4rem;
    line-height: 4rem;
    width: 100%;
    text-align: center;
}
#home .header h2{
    font-weight: bolder;
}
#home .content{
    flex:1
}
#home .content .music,#home .content .movie{
    height: 50%;
}
#home .content .movie{
    position: relative;
}
#home .content .navlink{
    width: 130px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    background: #ffffff;
    opacity: 0.5;
}
#home .content .navlink .am-button{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#home .content .navlink .am-button img{
    width: 24px;
    height: 24px;
}
#home .content .notbar{
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 2;
}
#home .content .am-notice-bar{
    height: 44px;
}
#home .content .jiaoc{
    position: absolute;
    bottom: 50px;
    right: 10px;
    z-index: 2;
    opacity: 0.6;
}