#home {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

#home .header,
.footer {
  background-color: powderblue;
  height: 4rem;
  line-height: 4rem;
  width: 100%;
  text-align: center;
}
#home .header h2 {
  font-weight: bolder;
}
#home .content {
  flex: 1;
}
#home .content .music,
#home .content .movie {
  height: 50%;
}
.music a {
  display: block;
  line-height: 20rem;
  width: 100%;
  height: 100%;
  text-align: center;
}

.music {
  margin: 0;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: none;
  background: black;
}
.music .landscape .img {
  background: url(../../assets/img/musictext.png) no-repeat;
  background-size: 30rem 3rem;
  width: 30rem;
  margin: 5rem 0;
  height: 5rem;
}
.music .filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #302f2f;
  animation: colorChange 10s ease-in-out infinite;
  animation-fill-mode: both;
  mix-blend-mode: overlay;
}

.landscape {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/music.gif");
  background-size: 375.2px 342px;
  background-repeat: repeat-x;
  background-position: center bottom;
}


#home .content .music,#home .content .movie{
    height: 50%;
}
#home .content .movie{
    position: relative;
}
#home .content .navlink{
    width: 130px;
    height: 30px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    background: #ffffff;
    opacity: 0.5;
}
#home .content .navlink .am-button{
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#home .content .navlink .am-button img{
    width: 24px;
    height: 24px;
}
#home .content .notbar{
    width: 100%;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: 2;
    opacity: 0.8;
}
#home .content .am-notice-bar{
    height: 44px;
}
#home .content .jiaoc{
    position: absolute;
    bottom: 50px;
    right: 10px;
    z-index: 2;
    opacity: 0.6;
}
#home .content .movie .swidth{
  height: 100%;
}
#home .content .movie .swidth .slider-frame,
#home .content .movie .swidth .slider,
#home .content .movie .swidth .slider-list,
#home .content .movie .swidth .slider-list li{
  height: 100% !important;
}
#home .content .movie .swidth .slider-slide img{
  width: 100%;
  height: 100% !important;
}